.credits {
    tr {
        display: block;
        @include tablet {
            display: table-row;
        }
    }
    td {
        display: block;
        padding: 0 0 20px;
        font-size: 15px;
        line-height: 1.33;
        @include tablet {
            display: table-cell;
            padding: 0 40px 18px 0;
        }
    }
    &_title {
        font-size: 15px;
        font-weight: 500;
        display: block;
        margin: 0 0 5px;
    }
}
