.document {
    border-radius: 6px;
    border: solid 1px $bright_color;
    padding: 20px 45px 20px 76px;
    background: url(#{$img}/document.svg) no-repeat 20px 20px;

    &_name {
        font-size: 15px;
        line-height: 1.33;
        color: $bright_color;
        margin: 0 0 3px;
    }
    &_meta {
        font-size: $font-size__small;
        line-height: 1.38;
        color: $gray_color;
    }
}
