.more {
    color: $bright_color;
    padding: 0 32px 0 0;
    background: url(#{$img}/arrow.svg) no-repeat right center;
    transition: .2s ease-in-out filter;
    @include tablet {
        font-size: 17px;
    }

    &:hover {
        filter: grayscale(.5) brightness(1.2);
    }
    &:active {
        filter: grayscale(1) brightness(1.5);
    }
}
