.reviews {
    margin: 0 0 100px;
    @include tablet {
        margin: 0 0 185px;
    }
}

.review {
    background: $light_color;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 34px 30px 60px;
    @include tablet {
        margin: 0 25px 0 0;
        padding-bottom: 80px;
    }

    &_text {
        margin: 0 0 30px;
    }
    &_author {
        overflow: hidden;
    }
    &_author-avatqr {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 0 12px 0 0;
        float: left;
    }
    &_author-name {
        font-size: 17px;
        font-weight: bold;
        line-height: 1.29;
        margin: 9px 0 0;
    }
    &_author-position {
        font-size: 15px;
        line-height: 1.33;
        opacity: 0.6;
    }
}
