.showcase {
    position: relative;

    &_image {
        width: 100%;
    }
    &_info {
        color: $light_color;
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 40px;
        @include tablet {
            left: 0;
            right: 0;
        }
    }
    &_info-content {
        @include tablet {
            @include layout;
        }
    }
    &_title {
        font: bold #{36px}/1.1 $font-family;
        @include tablet {
            font-size: bold #{54px}/1 $font-family;
        }
    }
    &_date {
        font-size: 17px;
        line-height: 1.18;
        margin: 0 0 6px;
        @include tablet {
            margin: 0 0 4px;
        }
    }
    &_adress {
        font-size: 17px;
        line-height: 1.18;
    }
}
