.tickets {
    @include tablet {
        margin: -150px 0 0;
        position: relative;
    }
}

.ticket {
    background: $light_color;
    border-radius: 6px;
    border: solid 1px #d0d0d0;
    padding: 17px 20px 23px;
    margin: 0 0 10px;

    &_meta {
        font-size: 15px;
        display: flex;
        align-items: flex-start;
        margin: 0 0 8px;

        span {
            opacity: 0.7;
            color: #151515;
        }
    }

    &_meta-column {
        min-width: 98px;
    }
    &_title {
        font-size: 15px;
        font-weight: 500;
        line-height: normal;
        display: block;
        margin: 0 0 3px;
    }
    &_bottom {
        display: flex;
        align-items: center;
    }
    &_button {
        margin: 0 10px 0 0;
    }
    &_price {
        font-size: 17px;
        font-weight: 500;
        color: #151515;
    }
}
