.content {

    &_holder {
        @include layout;
        padding: 20px $layout_indent 40px;
        @include tablet {
            padding: 74px $layout_indent 80px;
        }
    }
    &_sidebar-wrapper {
        @include tablet {
            display: flex;
            align-items: flex-start;
            justify-content: stretch;
        }
    }
}

.sidebar {
    padding: 0 0 40px;
    @include tablet {
        width: 383px;
        margin: 0 0 0 55px;
        flex-shrink: 0;
    }

    &__first {
        order: 2;
        padding-bottom: 0;
    }
}
