.footer {
    background: $dark_color;
    color: $light_color;
    padding: 37px 15px 36px;
    font-size: 14px;
    line-height: 1.43;
    @include tablet {
        padding: 43px 0 37px;
    }

    &_container {
        @include tablet {
            @include layout;
        }
    }
    &_top {
        @include tablet {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }
    }
    &_bottom {
        @include tablet {
            display: flex;
        }
    }
    &_logo {
        width: 146px;
        display: block;
        margin: 0 0 14px;
    }
    &_column {
        @include tablet {
            flex-grow: 1;
        }

        &:first-child {
            @include tablet {
                width: 290px;
                margin: 0 16px 0 0;
                flex-grow: 0;
            }
        }
        &:last-child {
            @include tablet {
                flex-grow: 0;
            }
        }
    }
    &_adress {
        opacity: .6;

        p {
            margin: 0 0 5px;
        }
    }
    &_title {
        font-size: 15px;
        font-weight: bold;
        line-height: normal;
        margin: 0 0 15px;
    }
}

.copyright,
.made-by {
    color: $light_color;
    opacity: .6;
}
.made-by {
    &_link {
        color: $light_color;
        text-decoration: none;
        opacity: .6;
        transition: .2s ease-in-out opacity;

        &:hover {
            opacity: 1;
        }
    }
}
