.footer-menu {
    margin: 0 0 30px;
    @include tablet {
        margin: 0 0 40px;
        display: flex;
        justify-content: space-between;
    }

    &_column {
        width: 33%;
        box-sizing: border-box;
        padding-right: 15px;
    }
    &_title {
        display: none;
        @include tablet {
            display: block;
            font-size: 15px;
            font-weight: bold;
            margin: 0 0 11px;
        }
    }
    &_link {
        display: block;
        color: $light_color;
        opacity: .8;
        margin: 0 0 14px;
        transition: .2s ease-in-out opacity;
        @include tablet {
            text-align: left;
        }

        &:hover {
            opacity: 1;
        }
    }
}
