%heading-1 {
    font: 500 28px $font-family;
    margin: 0 0 28px;
    @include tablet {
        font: bold 34px $font-family;
    }
}
%heading-2 {
    color: $dark_color;
    font: 500 #{24px}/1.25 $font-family;
    margin: 63px 0 30px;
}
%heading-3 {
    font: 500 #{21px}/1.43 $font-family;
}

h1,
.heading-1 {
    @extend %heading-1;
}
h2,
.heading-2 {
    @extend %heading-2;
}
h3,
.heading-3 {
    @extend %heading-3;
}
