.menu {
    position: relative;
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 20px 20px;
    background: $light_color;
    transition: .2s ease-in-out opacity;
    @include desktop {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: static;
        padding: 0;
        background: transparent;
        justify-content: flex-end;
    }

    .menu-opened & {
        display: block;
    }

    &_link {
        font-size: 17px;
        font-weight: 500;
        line-height: 1.18;
        display: block;
        margin: 0 0 30px;
        color: $dark_color;
        @include tablet {
            font-weight: 300;
            font-size: 16px;
            margin: 0 15px;
            line-height: 1.25;
            color: $light_color;
        }

        &:hover {
            color: $bright_color;
        }

        &__other {
            display: none;
            @include tablet {
                font-size: 18px;
                font-weight: 500;
                display: block;
                margin-top: -8px;
            }
        }
    }
    &_langs {
        padding: 14px 20px;
        border-bottom: 1px solid #d0d0d0;
        margin: 0 -20px 30px;
        @include desktop {
            display: none;
        }
    }
    &_lang {
        color: $dark_color;
        font-size: 15px;
        line-height: 1.33;
        margin: 0 20px 0 0;

        &:hover,
        &.active {
            color: $bright_color__light;
        }
    }
}
