.more-text {
    &_checkbox {
        visibility: hidden;
        position: absolute;
        z-index: -1;        
    }
    &_button {
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        color: $bright_color;
        position: relative;
        display: inline-block;
        margin: 0;

        &::after {
            content: '';
            background: url(#{$img}/down-dark.svg) no-repeat center center;
            height: 10px;
            width: 10px;
            position: absolute;
            top: 5px;
            right: -22px;
        }
    }
    &_checkbox:checked + &_button::after {
        transform: rotate(180deg);
    }
    &_content {
        display: none;
    }
    &_checkbox:checked + label + &_content {
        display: block;
        padding: 20px 0 0;
    }
}
