.tabs {
    margin: 0 0 200px;
    @include tablet {
        margin-bottom: 134px;
    }

    &_links {
        display: flex;
        align-items: center;
        overflow: auto;
        margin: 0 0 18px;
        @include tablet {
            margin-bottom: 60px;
        }
    }
    &_link {
        opacity: 0.7;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        padding: 11px 20px 9px;
        border-radius: 6px;
        margin: 0 5px 0 0;
        transition: .2s ease-in-out background,
                    .2s ease-in-out opacity;
        @include tablet {
            padding: 13px 22px 12px;
            font-size: 17px;
        }

        &:hover,
        &.active {
            opacity: 1;
            background: #d3b75c;
        }
    }
    &_content {

    }
}

.tab {
    display: none;

    &.active {
        display: block;
    }
}
