body {
    background: $bg_color;
    color: $color;
    font: #{$font-size__small} $font-family;
    line-height: 1.33;
    padding: 0;
    @include tablet {
        font-size: $font-size;
    }
}

a {
    color: $color;
    text-decoration: none;
    transition: .2s ease-in-out color;

    &:hover,
    &.hover {
        outline: none;
    }
    &:active,
    &.active {
        outline: none;
    }
}

p {
    margin: 0 0 15px;
}

ul,
ol {
    padding: 0;
    margin: 0 0 40px;

    li {
        font-size: $font-size;
        line-height: 20px;
        margin: 0 0 16px;
        padding: 0 0 0 35px;
        position: relative;
    }
}

ul li {
    list-style: none;

    &::before {
        content: '';
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: $bright_color;
        position: absolute;
        left: 0;
        top: 5px;
    }
}

ol {
    list-style: none;
    counter-reset: counter;

    li {
        counter-increment: counter;

        &::before {
            content: counter(counter);
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

figure {
    margin: 0;
}

figcaption {
    margin: 20px 0;
    font-size: $font-size__small;
    line-height: 1.38;
    color: #a1a1a1;
}

.menu-opened {
    overflow: hidden;
    @include tablet {
        overflow: auto;
    }
}
