$img: "src/img";

$bg_color: #fff;
$light_color: #fff;

$color: #100f10;
$gray_color: #8c838b;
$gray_color__light: #b2adb2;
$gray_color__bg: #eeedee;
$dark_color: #151515;

$bright_color: #7d5dd4;
$bright_color__dark: #5430b5;
$yellow_color: #d4b85d;
$input_color: #373e44;

$font-family: 'Roboto', sans-serif;

$font-size: 18px;
$font-size__small: 16px;

$max-width: 1280px;
$layout_indent: 20px;
