$img: "src/img";

$bg_color: #fff;
$light_color: #fff;

$color: #444;
$gray_color: #8c838b;
$gray_color__light: #b2adb2;
$gray_color__bg: #eeedee;
$dark_color: #151515;

$bright_color: #e3008c;
$bright_color__light: #ff2bae;
$bright_color__dark: #aa0069;
$yellow_color: #d4b85d;
$input_color: #373e44;

$font-family: 'Roboto', sans-serif;

$font-size: 15px;
$font-size__small: 13px;

$max-width: 1280px;
$layout_indent: 16px;
